$primary-background-color: #ffffff;
$secondary-background-color: #f5f7fb;
$on-active-background-color: #e6ebf5;
$body-background-color: #f0eff5;

$primary-text-color: #495057;
$secondary-text-color: #aa1d2b;
